@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

body {
  font-family: 'Inter', sans-serif;
  padding-top: 80px;
  height: 3000px;
}

.box-shadow{ /*sombra*/
    box-shadow: 0 2px 4px 0 rgb(71, 71, 71);
}

.colored-text {
    color: #168B9D;
}

button img {
    margin-left: 8px;
  }

button.btn {
    border-radius: 8px;
  }

#gif{
    width: 35%;
    height: auto;
}